#page {
    width: 980px;
    margin: 0 auto;
}
h1{
    margin: 0 auto;
}

h2 {
    background-color:#99FFCC;
    border-bottom: dashed 1px #555555;
}

#pageBody {
    width: 720px;
    float: left;
}

#pageSub{
    width: 200px;
    float: right;
}

#pageFooter{
    text-align: center;
    clear: both;
    border-top: solid 1px #cccccc;
}

#img-right{
    margin-right: 50% ;
}

#img-center{
   margin: 0 auto;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline;
}

nav li a {
    text-decoration: none;
    padding: 8px;
    background-color: #dddddd;
    color: #000;
}

nav li a:hover {
    background-color: #555;
    color: white;
}